<div class="row">
	<div class="eightcol">
 		<center>
			<div id="video"><%= raw @link %></div>
		</center>

		<span class='video_prevnext'>
			<%= link_to image_tag("prev.png"), "#", :id => "prevVideo" %>
			<%= link_to image_tag("next.png"), "#", :id => "nextVideo" %>
		</span>

		<span class="video_likeornot">
			<%= link_to image_tag("snes_small.png"), "#", :id => "likeVideo", :remote => true %>
			<%= link_to image_tag("redx.png"), "#", :id => "notLikeVideo", :remote => true %>
		</span>


		<span class="video_jump">
			Jump to:
			<select>
				<% @game.videolinks.each_with_index do |v, i| %>
					<option><%= i + 1 %></option>
				<% end %>
			</select>
		</span>

		<span class="video_info" id="video_info">Video</span>

	</div>
	<div class="fourcol last">
		<h1>Chat</h1>
		
		<ul>
			<li>Lorem ipsum dolor sit pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
			<li>Lorem ipsum dolor sit pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
			<li>Lorem ipsum dolor sit pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
		</ul>
		
		
	</div>
</div>
