<div class="row">
	<div class="twelvecol">

 		<center><div id="video"><%= raw @link %></div></center>

		<div class="video_nav">
			<ul>
				<% if @link.present? %>
					<li><%= link_to "", "#", :id => "prevVideo", :title => "Previous video...", :class => "prev" %></li>
					<li><%= link_to "", "#", :id => "nextVideo", :title => "Next video...", :class => "next" %></li>
					<% if current_user %>

						<li><%= link_to "", "#", :id => "likeGame", :title => "Like game", :class => "likegame" %></li>
						<li><%= link_to "", "#", :id => "hateGame", :title => "Hate game", :class => "hategame" %></li>

						<li><%= link_to "", "#", :id => "likeVideo", :title => "Like video", :class => "likevideo" %></li>
						<li><%= link_to "", "#", :id => "hateVideo", :title => "Hate video", :class => "hatevideo" %></li>
					<% end %>
				<% end %>
			</ul>
		</div>

		<div class="video_info" id="video_info">Video</div>

	</div>


</div>