<% content_for(:sheet_header) do %>
	<ul>
		<li><%= link_to "New Game", new_game_path %></li>
	</ul>
<% end %>

<div class="game_search">
	<% form_tag games_path, :method => 'get' do %>
		<p>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag "Search", :name => nil %>
		</p>
	<% end %>
	<%= paginate @games %>
</div>

<div class="game_list">
	<div class="container">
		<div class="row">			
			<% @games.each do |game| %>
				<div class="sixcol">
					<%= link_to "#{game.title}", game %><br />
					<%= game.description %>
				</div>
				<div class="sixcol last game_list_system">
					<%= game.system.name %>
				</div>
			<% end %>
		</div>
	</div>
</div>


