<% content_for(:head) do %>
	<script type="text/javascript" charset="utf-8">var game_id = <%= @game.id %>;var video_id = <%= params[:video_id].to_i - 1 || 0 %>;</script>
<% end %>

<div class="game">
	<%= render "games/show/head" %>
	<%= render "games/show/video" %><br />
</div>

<% content_for(:js) do %>
	<%= javascript_include_tag 'video' %>	
<% end %>