<div class="top_nav">
	<div class="sevencol">
		<ul>
			<li><%= link_to "Home", root_url %></li>
			<li><%= link_to "Games", games_path %></li>
			<li><%= link_to "Systems", root_url %></li>
			<li><%= link_to "About", root_url %></li>
			<li><%= link_to "Contact", root_url %></li>
		</ul>
	</div>
	<div class="fivecol sign_in last">
		<ul>
		<% if current_user %>
			<li><%= current_user.name %>&nbsp;&nbsp;&nbsp;</li>
			<li><%= link_to "Sign Out", signout_path %></li>
		<% else %>
			<li>Sign in with&nbsp;&nbsp;&nbsp;</li>
			<li><%= link_to "FaceBook", "/auth/facebook" %></li>
			<li><%= link_to "Twitter", "/auth/twitter" %></li>
		<% end %>
		</ul>
	</div>
</div>